# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/

# Ambientes virtuais
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Artefatos de teste
.pytest_cache/
.coverage
htmlcov/
